@using TopBooks1.Data;
@{
    ViewData["Title"] = "TopBooks1 | Create Book";
}
@model Book

<h4>Add A Book</h4>

<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="row mb-2 form-group">
        <div class="col-3">
            <label asp-for="Title"></label>
        </div>
        <div class="col-9">
            <input class="form-control" type="text" asp-for="Title" />
        </div>
    </div>

    <div class="row mb-2 form-group">
        <div class="col-3">
            <label asp-for="Author"></label>
        </div>
        <div class="col-9">
            <input class="form-control" type="text" asp-for="Author" />
        </div>
    </div>

    <div class="row mb-2 form-group">
        <div class="col-3">
            <label asp-for="Price"></label>
        </div>
        <div class="col-9">
            <input class="form-control" type="number" asp-for="Price" />
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Add</button>
</form>
